@import 'app/designs/Button/button.scss';
@import 'app/designs/Form/form.scss';
@import 'app/designs/responsive.scss';

/* Font-size keys definition*/
[data-fontsize='S'] {
  font-size: 0.75em;
}
[data-fontsize='M'] {
  font-size: 1em;
}
[data-fontsize='XL'] {
  font-size: 1.5em;
}
[data-fontsize='XXL'] {
  font-size: 2em;
}

/* Animatios key frames */
/* Shake animation */
@keyframes shaking {
  10%,
  90% {
    transform: translate(0);
  }

  20%,
  80% {
    transform: translate(2px);
  }

  30%,
  50%,
  70% {
    transform: translate(-3px);
  }

  40%,
  60% {
    transform: translate(3px);
  }
}

/* Growing animation */
@keyframes growing {
  10%,
  90% {
    transform: scale(1);
  }

  20%,
  80% {
    transform: scale(1.02);
  }

  50% {
    transform: scale(1.05);
  }
}

/* Poping animation */
@keyframes poping {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
