@import 'styles/_vars.scss';
/* Specifics rendering for Input Password */

@mixin inputPassword {
  /* Input Password eye icon rendering */
  &--eye-icon {
    @include icon(1.25em, auto, $global--color--dark);
  }
  /* Input password rules description rendering */
  &--description {
    font-size: 0.75em;
    /* Displaying part */
    @include flexFlow();
    display: inline-block;
    /* size rendering param */
    @include sizing(0, 0.5em 0 0 0, 100%);
    /* Password icon rendering */
    .password-icon {
      @include icon(1em, auto, $global--color--dark);
      padding: 0 0.25em;
      &.weak {
        stroke: $input--password--color--weak;
      }
      &.medium {
        stroke: $input--password--color--medium;
      }
      &.strong {
        stroke: $input--password--color--strong;
      }
      &.very-strong {
        stroke: $input--password--color--veryStrong;
      }
    }
    /* Rules structured list rendering*/
    .password-rules {
      /* Font, color, bckg */
      background-color: inherit;
      color: inherit;
    }
  }
}
