@mixin margin-top--notLastChild {
  &:not(:last-child) {
  }
}

@mixin flexFlow(
  $flx-direction: column,
  $flx-wrap: nowrap,
  $flx-main: flex-start,
  $flx-cross: flex-start,
  $flx-shrink: 0,
  $flx-grow: 0,
  $position: static
) {
  display: flex;
  position: $position;
  flex-direction: $flx-direction;
  flex-wrap: $flx-wrap;
  justify-content: $flx-main;
  align-items: $flx-cross;
  flex-shrink: $flx-shrink;
  flex-grow: $flx-grow;
}

@mixin sizing(
  $padding: 0,
  $margin: 0,
  $width: 100%,
  $max-width: max-content,
  $min-width: min-content,
  $height: auto,
  $box-sizing: border-box
) {
  box-sizing: $box-sizing;
  padding: $padding;
  margin: $margin;
  width: $width;
  height: $height;
  max-width: $max-width;
  min-width: $min-width;
}

@mixin bordering(
  $size: 1px,
  $color: transparent,
  $radius: 0,
  $top: true,
  $right: true,
  $bottom: true,
  $left: true
) {
  border: $size solid $color;
  @if $top!=true {
    /* border-top: none; */
    border-top: $size solid transparent;
  }
  @if $right!=true {
    border-right: none;
    border-right: $size solid transparent;
  }
  @if $bottom!=true {
    border-bottom: none;
    border-bottom: $size solid transparent;
  }
  @if $left!=true {
    border-left: none;
    border-left: $size solid transparent;
  }

  border-radius: $radius;
  outline: none;
}

@mixin animate-scale-onHoverNdFocus($scale) {
  transition: transform ease-in-out 250ms 100ms;
  &:focus-within {
    transform: scale($scale);
  }
  &:hover {
    transform: scale($scale);
  }
}

@mixin icon($size, $stroke) {
  /* Displaying part */
  position: static;
  z-index: auto;
  /* size rendering param */
  width: $size;
  height: $size;
  /* Color */
  fill: none;
  stroke-width: 1.9px;
  stroke: $stroke;
}

@mixin tool-tips($bordering-color, $background-color, $font-color) {
  &--content {
    /* Flow rendering */
    display: none;
    position: absolute;
    z-index: 1;
    top: $global--margin;
    left: -10em;
    flex-shrink: 0;
    flex-grow: 0;
    z-index: auto !important;
    /* size rendering param */
    box-sizing: border-box;
    width: 20em;
    padding: 1em;
    /* Border rendering */
    border-radius: $global--bordering-radius;
    box-shadow: 0px 0px 5px $bordering-color;
    border: 1px solid $bordering-color;
    /* Font, color, bckg*/
    background-color: $background-color;
    color: $font-color;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    word-wrap: break-word;

    &.show {
      display: block;
      animation: 50ms ease-out 250ms both poping;
    }
  }
  .tool-tips-pointer {
    display: none;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-bottom: $global--margin solid $bordering-color;
    border-left: $global--margin solid transparent;
    border-right: $global--margin solid transparent;
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 2px;
      left: -$global--margin;
      width: 0;
      height: 0;
      border-bottom: $global--margin solid $background-color;
      border-left: $global--margin solid transparent;
      border-right: $global--margin solid transparent;
    }
    &.show {
      display: block;
      animation: 50ms ease-out 250ms both poping;
    }
  }
}

@mixin datePicker($alternative: false, $color: $global--font-color) {
  &::-webkit-calendar-picker-indicator {
    /*     display: none;
    position: static;
    height: $input-side--size;
    width: $input-side--size;
    padding: 0;
    background: $color;
     @if $alternative {
      -webkit-mask-image: url('/app/designs/images/clock.svg');
      mask-image: url('/app/designs/images/clock.svg');
    } @else {
      -webkit-mask-image: url('/app/designs/images/calendar.svg');
      mask-image: url('/app/designs/images/calendar.svg');
    }
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-mode: luminance;
    mask-mode: luminance;
    -webkit-mask-origin: content-box;
    mask-origin: content-box;
    -webkit-mask-clip: content-box;
    mask-clip: content-box;  */
    background-color: white;
    height: 0.75em;
    width: 0.75em;
    padding: 0.25em;
    border-radius: 50%;
    cursor: pointer;
  }
}
