.button-group {
  /* Flow rendering */
  @include flexFlow(row, wrap, flex-end, center);
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.vertical {
    flex-direction: column;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
  /* size rendering param */
  @include sizing(0, $button-group--margin, auto, none);
  &.nofill {
    width: min-content;
  }
  
}
.button {
  @include flexFlow(row, $flx-cross: center);
  @include sizing($button--padding, $button--margin);
  /* Font, color, bckg */
  background-color: $button--background;
  color: $button--font--color;
  font-family: $button--font--family;
  font-weight: $button--font--weight;
  font-size: $button--font--size;
  text-transform: capitalize;
  /* Border rendering - Variations rendering */
  @include bordering(
    $button--bordering-size,
    transparent,
    $button--bordering-radius
  );
  &.positive {
    border-color: $button--bordering-color--positive;
    &:hover {
      border-color: $button--bordering-color--positive-hovered;
    }
  }
  &.negative {
    border-color: $button--bordering-color--negative;
    &:hover {
      border-color: $button--bordering-color--negative-hovered;
    }
  }
  &.neutral {
    border-color: $button--bordering-color--neutral;
    &:hover {
      border-color: $button--bordering-color--neutral-hovered;
    }
  }
  transition: all ease-in-out 750ms;
  @include animate-scale-onHoverNdFocus($button--animate-scale);

  .icon {
    @include icon($button--icon--size, auto, $button--font--color);
    display: inline-block;
    &.padded {
      padding-right: 1em;
    }
  }
}
