.form-group {
  /* Flow rendering */
  @include flexFlow(row, wrap, flex-start, flex-start);
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
  /* size rendering param */
  @include sizing(0, 0, auto, none);
  /* Font, color, bckg */
  background-color: $global--background-color;
  color: $global--font-color;
}
.form {
  /* Flow rendering */
  @include flexFlow($flx-cross: center);
  position: relative;
  /* size rendering param */
  @include sizing(0, $form--margin, $form--width);
  /* Font, color, bckg */
  background-color: $global--background-color;
  color: $global--font-color;

  /* Form Section title rendering */
  &--legend {
    /* Flow rendering */
    @include flexFlow($flx-cross: center);
    /* size rendering param */
    @include sizing(0 1em, 0, auto);
    /* Font, color, bckg */
    background-color: inherit;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.25em;
  }

  /* Form content childs rendering */
  &--content {
    /* Flow rendering */
    @include flexFlow($flx-cross: center);
    /* size rendering param */
    @include sizing($form--padding, 0, 100%, none, max-content);
    /* Font, color, bckg */
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    /* Animation / Transitions rendering */
    transition: border ease-in-out 250ms;
    /* Bordering rendering */
    &:invalid {
      @include bordering(
        $form--bordering-size,
        $form--bordering-color--invalid,
        $form--bordering-radius,
        true,
        false,
        true,
        false
      );
      &:focus-within {
        @include bordering(
          $form--bordering-size,
          $form--bordering-color--invalid-focused,
          $form--bordering-radius,
          true,
          false,
          true,
          false
        );
      }
    }
    &:valid {
      @include bordering(
        $form--bordering-size,
        $form--bordering-color--valid,
        $form--bordering-radius,
        true,
        false,
        true,
        false
      );
      &:focus-within {
        @include bordering(
          $form--bordering-size,
          $form--bordering-color--valid-focused,
          $form--bordering-radius,
          true,
          false,
          true,
          false
        );
      }
    }
    /* Form generic Input Field rendering */
    &--field {
      /* Flow rendering */
      @include flexFlow($flx-cross: center);
      /* size rendering param */
      @include sizing(0 0.5em 0.5em 0.5em, 1em, auto, none, max-content);
      /* Font, color, bckg */
      background-color: inherit;
      color: inherit;
      /* Border rendering */
      @include bordering(
        $input--bordering-size,
        $input--bordering-color--neutral,
        $input--bordering-radius,
        $right: false,
        $left: false,
        $bottom: false
      );
      &:focus-within {
        @include bordering(
          $input--bordering-size,
          $input--bordering-color--neutral-focused,
          $input--bordering-radius,
          $right: false,
          $left: false,
          $bottom: false
        );
      }
      /* Valid input field rendering case */
      &.invalid {
        @include bordering(
          $input--bordering-size,
          $input--bordering-color--invalid,
          $input--bordering-radius,
          $right: false,
          $left: false,
          $bottom: false
        );
        &:focus-within {
          @include bordering(
            $input--bordering-size,
            $input--bordering-color--invalid-focused,
            $input--bordering-radius,
            $right: false,
            $left: false,
            $bottom: false
          );
        }
      }
      /* Invalid input field rendering case */
      &.valid {
        @include bordering(
          $input--bordering-size,
          $input--bordering-color--valid,
          $input--bordering-radius,
          $right: false,
          $left: false,
          $bottom: false
        );
        &:focus-within {
          @include bordering(
            $input--bordering-size,
            $input--bordering-color--valid-focused,
            $input--bordering-radius,
            $right: false,
            $left: false,
            $bottom: false
          );
        }
      }
      /* Animation / Transitions rendering */
      @include animate-scale-onHoverNdFocus($input--animate-scale);

      /* Generic Input Label rendering */
      &--label {
        /* Flow rendering */
        @include flexFlow($flx-cross: center);
        /* size rendering param */
        @include sizing(
          0 1em,
          -0.5em 1em 0.5em 1em,
          fit-content,
          none,
          max-content
        );
        /* Font, color, bckg */
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        line-height: 1em;
        word-break: keep-all;
        background-color: inherit;
      }
      /* Generic Input Box rendering */
      &--box {
        /* Flow rendering */
        @include flexFlow(row, $flx-cross: center);
        /* size rendering param */
        @include sizing(0, 0, 100%, none, max-content);
        /* Font, color, bckg */
        background-color: inherit;
        color: inherit;

        /* Sub elements */
        &--state {
          /* Displaying part */
          @include flexFlow();
          /* size rendering param */
          @include sizing(0, 0 0.5em 0 0);
          /* Font, color, bckg */
          background-color: inherit;
          color: inherit;
          /* Cursor */
          cursor: help;
          &--icon {
            @include icon($input-side--size, 1, $input-state--stroke-neutral);
            &.invalid {
              stroke: $input-state--stroke-invalid;
            }
            &.valid {
              stroke: $input-state--stroke-valid;
            }
            &.neutral {
              stroke: $input-state--stroke-neutral;
            }
          }
        }
        /* Generic Input rendering */
        &--input {
          /* Flow rendering */
          @include flexFlow($flx-direction: row, $flx-grow: 1);
          /* size rendering param */
          @include sizing(0.5em 0, 0, auto, none, max-content);
          /* Border rendering */
          border: none;
          outline: none;
          /* Font, color, bckg */
          background-color: inherit;
          color: $global--font-color;
          text-align: center;
          @include datePicker();
          &[type='time'] {
            @include datePicker(true);
          }
          /* Specifics rendering for Input Password */
          &--password {
            /* Input Password eye icon rendering */
            &--eye-icon {
              @include icon(1.25em, auto, $global--font-color);
            }
            /* Input password rules description rendering */
            &--description {
              font-size: 0.75em;
              /* Displaying part */
              @include flexFlow();
              display: inline-block;
              /* size rendering param */
              @include sizing(0, 0.5em 0 0 0, 100%);
              /* Password icon rendering */
              .password-icon {
                @include icon(1em, auto, $global--color--dark);
                padding: 0 0.25em;
                &.weak {
                  stroke: $input--password--color--weak;
                }
                &.medium {
                  stroke: $input--password--color--medium;
                }
                &.strong {
                  stroke: $input--password--color--strong;
                }
                &.very-strong {
                  stroke: $input--password--color--veryStrong;
                }
              }
              /* Rules structured list rendering*/
              .password-rules {
                /* Font, color, bckg */
                background-color: inherit;
                color: inherit;
              }
            }
          }
        }
        &--textarea {
          box-shadow: 0px 0px 1px $global--bordering-color;
          text-align: left;
        }
        /* Generic Input option (boxed right side element) */
        &--input-option {
          /* Displaying part */
          @include flexFlow();
          /* size rendering param */
          @include sizing(
            0 0 0 0,
            0 0 0 0.5em,
            $input-side--size,
            none,
            none,
            $input-side--size
          );
          /* Font, color, bckg */
          background-color: inherit;
          color: inherit;
          /* Cursor */
          cursor: pointer;
        }
      }
      /* Generic Input aside (boxed bottom element) */
      &--aside {
        /* Displaying part */
        @include flexFlow();
        /* size rendering param */
        @include sizing();
        /* Font, color, bckg */
        background-color: inherit;
        color: inherit;
      }
      /* Generic Input tool-tips popup (same level and inside Field, with z-index constraint) */
      &--tool-tips-box {
        /* Displaying part */
        display: block;
        position: relative;
        /* Sub element */
        @include tool-tips(
          $global--bordering-color,
          $global--background-color,
          $global--font-color
        );
      }
    }
  }
  &--buttons {
    /* Displaying part */
    @include flexFlow(
      $flx-direction: row,
      $flx-wrap: wrap,
      $flx-main: space-around,
      $flx-cross: center
    );
    /* size rendering param */
    @include sizing(0, 0, 100%, none);
    margin-bottom: -1.5em;
  }

  &--submit {
    /* Border rendering - Variations rendering */
    @include bordering(
      $button--bordering-size,
      $button--bordering-color--positive,
      $button--bordering-radius
    );
    &:hover {
      border-color: $button--bordering-color--positive-hovered;
    }
    outline: 1em solid $form-background-color;
    background-color: $form-background-color;
  }
  &--cancel {
    /* Border rendering - Variations rendering */
    @include bordering(
      $button--bordering-size,
      $button--bordering-color--neutral,
      $button--bordering-radius
    );
    &:hover {
      border-color: $button--bordering-color--neutral-hovered;
    }
    outline: 1em solid $form-background-color;
    background-color: $form-background-color;
  }
}
