/* == RESPONSIVE */
@media (min-width: $global--layout-breakpoint-small) {
  .only {
    &.small {
      display: none;
    }
  }
  body{
    font-size: 16px;
  }
}
@media (max-width: $global--layout-breakpoint-small) {
  .only {
    &.large {
      display: none;
    }
  }
  body{
    font-size: 12px;
  }
}
