$global--layout-breakpoint-small: 700px;
$global--font-weigt--normal: 300;
$global--font-weigt--bold: 600;
$global--animate-scale: 1.05;
$global--bordering-radius: 0.5em;
$global--bordering-size: 3.5px;
$global--margin: 1.5em;
$global--margin--hovering-title: 0 2em -0.5em 2em;
$global--padding: 2em;
$global--padding--hovering-title: 0 1em;
$global--color--action: rgb(60, 60, 240);
$global--color--action--darker: rgb(30, 30, 150);
$global--color--valid: rgb(50, 240, 50);
$global--color--valid--darker: rgb(30, 150, 30);
$global--color--invalid: rgb(240, 75, 75);
$global--color--invalid--darker: rgb(150, 75, 75);
$global--color--neutral: rgb(180, 180, 180);
$global--color--neutral--darker: rgb(140, 140, 140);
$global--color--light: white;
$global--color--dark: black;

$global--font-family: monospace, Courier, sans-serif;
$global--font-color: $global--color--dark;
$global--background-color: $global--color--light;
$global--bordering-color: $global--color--dark;

$global--font-size-S: 0.75em;
$global--font-size-M: 1em;
$global--font-size-XL: 1.5em;
$global--font-size-XXL: 2em;

/* Button */
$button-group--margin: 1em;
$button--background: inherit;
$button--font--color: $global--font-color;
$button--font--family: inherit;
$button--font--weight: $global--font-weigt--bold;
$button--font--size: 1em;
$button--text--transform: capitalize;
$button--padding: 0.5em 1em;
$button--margin: 0.25em;
$button--icon--size: 1.25em;
$button--animate-scale: $global--animate-scale;
$button--bordering-size: $global--bordering-size;
$button--bordering-radius: $global--bordering-radius;
$button--bordering-color--negative: $global--color--invalid;
$button--bordering-color--negative-hovered: $global--color--invalid--darker;
$button--bordering-color--positive: $global--color--valid;
$button--bordering-color--positive-hovered: $global--color--valid--darker;
$button--bordering-color--neutral: $global--color--neutral;
$button--bordering-color--neutral-hovered: $global--color--neutral--darker;

/* Form */
$form--margin: $global--margin;
$form--padding: 3em $global--padding $global--padding $global--padding;
$form--width: 40em;
$form--bordering-size: $global--bordering-size;
$form--bordering-radius: $global--bordering-radius;
$form--bordering-color--invalid: $global--color--invalid;
$form--bordering-color--invalid-focused: $global--color--invalid--darker;
$form--bordering-color--valid: $global--color--valid;
$form--bordering-color--valid-focused: $global--color--valid--darker;

/* Form Input*/
$input--bordering-size: $global--bordering-size;
$input--bordering-radius: $global--bordering-radius;
$input--bordering-color--neutral: $global--color--neutral;
$input--bordering-color--neutral-focused: $global--color--neutral--darker;
$input--bordering-color--invalid: $global--color--invalid;
$input--bordering-color--invalid-focused: $global--color--invalid--darker;
$input--bordering-color--valid: $global--color--valid;
$input--bordering-color--valid-focused: $global--color--valid--darker;
$input--animate-scale: $global--animate-scale;

/* Form Input password */
$input--password--color--weak: rgb(155, 0, 0);
$input--password--color--medium: rgb(145, 94, 0);
$input--password--color--strong: green;
$input--password--color--veryStrong: rgb(0, 70, 0);

/* Form Input State */
$input-state--stroke-invalid: $global--color--invalid;
$input-state--stroke-valid: $global--color--valid;
$input-state--stroke-neutral: $global--color--neutral--darker;
$input-side--size: 1.25em;

@mixin margin-top--notFirstChild {
  &:not(:first-child) {
    margin-top: $global--margin;
  }
}

@mixin flexFlow(
  $flx-direction: column,
  $flx-wrap: nowrap,
  $flx-main: flex-start,
  $flx-cross: flex-start,
  $flx-shrink: 0,
  $flx-grow: 0
) {
  display: flex;
  position: relative;
  flex-direction: $flx-direction;
  flex-wrap: $flx-wrap;
  justify-content: $flx-main;
  align-items: $flx-cross;
  flex-shrink: $flx-shrink;
  flex-grow: $flx-grow;
}

@mixin sizing(
  $padding: 0,
  $margin: 0,
  $width: 100%,
  $max-width: max-content,
  $min-width: min-content,
  $height: fit-content,
  $box-sizing: border-box
) {
  box-sizing: $box-sizing;
  padding: $padding;
  margin: $margin;
  width: $width;
  height: $height;
  max-width: $max-width;
  min-width: $min-width;
}

@mixin sizing--hovering-title(
  $margin: $global--margin--hovering-title,
  $padding: $global--padding--hovering-title
) {
  @include sizing($padding, $margin, min-content, none, max-content);
}

@mixin bordering(
  $size: 1px,
  $color: transparent,
  $radius: 0,
  $top: true,
  $right: true,
  $bottom: true,
  $left: true
) {
  border: $size solid $color;
  @if $top!=true {
    border-top: none;
  }
  @if $right!=true {
    border-right: none;
  }
  @if $bottom!=true {
    border-bottom: none;
  }
  @if $left!=true {
    border-left: none;
  }
  border-radius: $radius;
  outline: none;
}

@mixin animate-scale-onHoverNdFocus($scale) {
  transition: transform ease-in-out 250ms 100ms;
  &:focus-within {
    transform: scale($scale);
  }
  &:hover {
    transform: scale($scale);
  }
}

@mixin icon($size, $z-index, $stroke) {
  /* Displaying part */
  position: relative;
  z-index: $z-index;
  /* size rendering param */
  width: $size;
  height: $size;
  /* Color */
  fill: none;
  stroke-width: 1.9px;
  stroke: $stroke;
}

@mixin tool-tips($bordering-color, $background-color, $font-color) {
  /* Flow rendering */
  display: none;
  position: absolute;
  top: 0.25em;
  left: 0;
  z-index: 2;
  flex-shrink: 0;
  flex-grow: 0;
  /* size rendering param */
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  /* Border rendering */
  border-radius: $global--bordering-radius;
  box-shadow: 0px 0px 5px $bordering-color;
  /* Font, color, bckg*/
  background-color: $background-color;
  color: $font-color;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  word-wrap: break-word;

  &.show {
    display: block;
    animation: 50ms ease-out 250ms both poping;
  }

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-bottom: 10px solid $bordering-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
