/* == FONT == */
$app-font-family: 'Courier New', Courier, monospace;
$app-font-weigt--normal: 300;
$app-font-weigt--bold: 600;
/* Border */
$app-elmt-border-radius: 1em;
$app-elmt-border-size: 3.5px;
/* Colors */
/* - action */
$color-action: rgb(60, 60, 240);
$color-action--darker: rgb(30, 30, 150);
/* - positve */
$color-positive: rgb(50, 240, 50);
$color-positive--darker: rgb(30, 150, 30);
/* - negative */
$color-negative: rgb(240, 75, 75);
$color-negative--darker: rgb(150, 75, 75);
/* - neutral */
$color-neutral: rgb(180, 180, 180);
$color-neutral--darker: rgb(140, 140, 140);
/* - light / dark */
$color-light: white;
$color-dark: black;

/* Responsive parameter */
$layout-breakpoint-small: 700px;

/* == BUTTON == */
/* border size */
$button-border: $app-elmt-border-size solid;
/* border radius */
$button-border-radius: $app-elmt-border-radius;
/* positve */
$button-bcg--positive: $color-action;
$button-border--positive: $color-positive--darker;
/* negative */
$button-bcg--negative: $color-negative;
$button-border--negative: $color-negative--darker;
/* neutral */
$button-bcg--neutral: $color-neutral;
$button-border--neutral: $color-neutral--darker;
/* other */
$button-content-color-light: $color-light;
$button-content-color-dark: $color-dark;

/* = Form */
/* = - Title part */
$form--title-margin: 0 1em -0.8em 1em;
$form--title-padding: 0 0.25em;
$form--title-border: $app-elmt-border-size solid transparent;
$form--title-border-radius: $app-elmt-border-radius;
/* = - form displaying */
$form-align-items: flex-start;
/* = - form color */
$form-bcg: $color-light;
/* = - form margin / padding */
$form-margin: 2em 0;
$form-padding: 2.5em 0.5em 1.75em 0.5em;
/* = - form border / radius */
$form-border: $app-elmt-border-size solid $color-neutral;
$form-border--focused: $app-elmt-border-size solid $color-neutral--darker;
$form-border--invalid: $app-elmt-border-size solid $color-negative;
$form-border--invalid--focused: $app-elmt-border-size solid
  $color-negative--darker;
$form-border--valid: $app-elmt-border-size solid $color-positive;
$form-border--valid--focused: $app-elmt-border-size solid
  $color-positive--darker;
$form-radius: $app-elmt-border-radius;

/* == Form field */
/* = - form field margin / padding */
$form--field-margin-top: 2em;
$form--field-padding: 0 1em;

/* == Form field--label */
/* == - Field label required stamp color */
$field--label-required-after-color: red;
/* == - Field label padding/margin/width */
$field--label-margin: 0em 2em -0.5em 2em;
$field--label-padding: 0 1em;
$field--label-width: max-content;

/* == Form field--input */
/* == - Field input scale transform on focus */
$field--input-focus-scale-transform: 1.05;
/* == - Field input margin / padding */
$field--input-margin: 0;
$field--input-padding: 0.75em 1.5em 0.5em 1.5em;
/* == - Field input border /  radius */
$field--input-border-size: 2px;
$field--input-border: $field--input-border-size solid $color-neutral;
$field--input-border--focused: $field--input-border-size solid
  $color-neutral--darker;
$field--input-border--error: $field--input-border-size solid $color-negative;
$field--input-border--error--focused: $field--input-border-size solid
  $color-negative--darker;
$field--input-border--valide: $field--input-border-size solid $color-positive;
$field--input-border--valide--focused: $field--input-border-size solid
  $color-positive--darker;
$field--input-border-radius: 0.5em;
/* == - Field input color */
$field--input-bcg: inherit;

/* == Form input State */
/* == - Input state color */
$field--input-state-color-negative: $color-negative--darker;
$field--input-state-color-positive: $color-positive--darker;
$field--input-state-color-neutral: $color-action--darker;
/* == - Input state margin / padding */
$field--input-state-margin: 1.25em 2em 0 0;
$field--input-state-padding: 0;
/* == - Input state size */
$field--input-state-size: 1.25em;
/* == - Input state border bottom */
$field--input-state-border-bottom: $app-elmt-border-size dotted $color-action;
