/* Designs styles import */
@import 'styles/_vars.scss';
@import 'app/designs/designs.scss';

* {
  font-size: 1em;
}

body {
  font-family: $global--font-family;
  color: $global--font-color;
  background-color: $global--background-color;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  @include flexFlow();
  @include sizing(0, 0, 100%, none, none, 100vh);
  overflow: hidden;
  header {
    @include flexFlow(row, wrap, space-between, center);
    @include sizing();
  }
  main {
    @include flexFlow($flx-cross: center);
    flex-grow: 1;
    flex-shrink: 1;
    @include sizing(0, 0, 100%, 100%, none, none);
    overflow-x: hidden;
    overflow-y: auto;
  }
  footer {
    @include flexFlow(row, wrap, space-around, center);
    @include sizing();
  }
}
