
@import 'styles/_vars.scss';

.button-group {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.vertical {
    flex-direction: column;
  }
  &.align {
    &-centered {
      justify-content: center;
      align-items: center;
      margin: 0;
      .button:not(:first-child):not(:last-child) {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
    &-start {
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      .button:not(:last-child)  {
        margin-right: 0.5rem;
      }
    }
  }
  .button:not(:first-child) {
    margin-left: 0.5rem;
  }
  /* scale */
  box-sizing: border-box;
  width: 100%;
  min-width: min-content;
  height: fit-content;
  margin: 0;
  padding: 0.5rem 0;
  &.nofill {
    width: fit-content;
  }
}
.button {
  /* font */
  font-family: $app-font-family;
  font-weight: $app-font-weigt--bold;
  font-size: 1em;
  /* scale */
  box-sizing: border-box;
  margin: 0rem;
  padding: 0.5rem;
  /* flex */
  flex-basis: content;
  flex-grow: 0;
  flex-grow: 0;
  /* border */
  border-radius: $button-border-radius;
  transition: all ease-in-out 750ms;
  border: $button-border transparent;
  outline: none;
  /* TEXT */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &.positive {
    background-color: $button-bcg--positive;
    color: $button-content-color-light;
    stroke: $button-content-color-light;
    &:hover {
      transition: all ease-in-out 300ms;
      border: $button-border $button-border--positive;
    }
  }
  &.negative {
    background-color: $button-bcg--negative;
    color: $button-content-color-light;
    stroke: $button-content-color-light;
    &:hover {
      transition: all ease-in-out 300ms;
      border: $button-border $button-border--negative;
    }
  }
  &.neutral {
    background-color: $button-bcg--neutral;
    color: $button-content-color-dark;
    stroke: $button-content-color-dark;
    &:hover {
      transition: all ease-in-out 300ms;
      border: $button-border $button-border--neutral;
    }
  }
  > .icon {
    width: 2em;
    height: 2em;
    display: inline-block;
    padding-right: 0;
    fill: none;
    stroke: inherit;
    stroke-width: 1.9px;
    &.padded {
      padding-right: 1em;
    }
  }
  &:hover {
    animation: growing 500ms ease-in-out both;
  }  
}


